*{
	margin: 0px;
	padding: 0px;
	scrollbar-color: #2e4053 #85929e;
	scrollbar-width: thin;
}

video, iframe{
	border:none;
	width:300px;
}

a{
	color:black;
	text-decoration: none;
	cursor:pointer;
}
