* {
	--logo-colors-base: linear-gradient(to right, #ed9200, #126dff, #9acd32);
	padding: 0;
	margin: 0px;
	padding: 0px;
	border:none;
	scrollbar-color: #2e4053 #85929e;
	scrollbar-width: thin;
}

a {
	color:black;
	text-decoration: none;
	cursor:pointer;
}

body {
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	background: #2e4053;
}

body::-webkit-scrollbar-thumb {
	background-color: #85929e;
}

/* msg */
#flamebousteur_lib_msg {
	position: fixed;
	margin: auto;
	right: 0;
	left: 0;
	top: 0px;
	width: 50%;
	opacity: 0;
	padding: 5px;
	border-bottom: 3px solid red;
	background-color: white;
	transition: all 400ms;
	text-align: center;
	font-size: 15px;
	z-index: 10;
}

#flamebousteur_lib_msg:hover {
	top: 3px;
}

/* logo animation */
#loader{
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
	width: 50px;
	height: 50px;
	z-index: 100;
}

#loader::before{
	content: "";
	position: absolute;
	width: 60px;
	height:10px;
	border-radius: 10px;
	background: var(--logo-colors-base);
	left: -35px;
	z-index: -1;
	animation: 1s cubic-bezier(.86,0,.07,1) 0.5s infinite alternate load2;
}

#loader::after{
	content: "";
	position: absolute;
	width: 60px;
	height:10px;
	border-radius: 10px;
	background: var(--logo-colors-base);
	top: 40px;
	left: 25px;
	z-index: -1;
	animation: 1s cubic-bezier(.86,0,.07,1) 0s infinite alternate load;
}

#loader svg{
	width: 50px;
	height: 50px;
}

svg{
	animation: spin 1.5s infinite linear;
}

@keyframes spin{
	from { transform: rotate(0deg); }
	to   { transform: rotate(360deg); }
}

@keyframes load{
	from { width: 60px; }
	to   { width: 0; }
}

@keyframes load2{
	from{
		width: 60px;
		left: -35px;
	}
	to{
		width: 0;
		left: 25px;
	}
}

/* chargementbar */
.chargementbar {
	position: fixed;
	top: 0;
	height: 5px;
	background: linear-gradient(to right, #ed9200, #126dff, #9acd32);
	transition: all 400ms;
}

/* end logo animation */
.nojs{
	background-color:#b6f31e;
	background-image: url('/img/vrac/font.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.ready {
	background-image: url('/img/vrac/font-bw.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

@media (prefers-color-scheme: dark) {}
@media (prefers-color-scheme: light) {}

.typename {
	text-align: center;
}

#dp-map {
	padding: 0px 5px;
	width: 99%;
	margin-bottom: 10px;
	z-index: 0;
}

#dp-map hr {
	text-align: center;
	margin: auto;
	width: 99%;
}

#dp-map div, .content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
}

/* card */
card {
	--h: 140px;
	--w: 1fr;
	font-family: sans-serif;
	height: var(--h);
	width: var(--w);
	border-radius: 10px;
	display: grid;
	place-items: center;
	grid-template-areas: "main";
	overflow: hidden;
	cursor: pointer;
	text-decoration: none;
}

card > *{
	grid-area: main;
	transition: all 400ms cubic-bezier(.23,1,.32,1);
}

card img, card video, card iframe{
	height: calc(var(--h) + 5px);
	width: 100%;
	object-fit: cover;
	z-index: 1;
}

card span {
	opacity: 0;
	color: white;
	z-index: 2;
}

@media screen and (max-width: 600px) {
	card img {
		filter: brightness(0.5);
	}
	card span {
  	opacity: 1;
  }
}

card.scard:hover img, card.scard:hover video{
	transform: scale(1.1);
	filter: brightness(0.4) blur(1px);
}

card.scard:hover span {
	transform: scale(1.1);
	opacity: 1;
}

card.scard:active img, card.scard:active video {
	transform: scale(1.3);
	filter: brightness(0.4) blur(5px);
}

card.scard:active span {
  transform: scale(1.3);
	opacity: 0.75;
}

/* footer */
footer a{
	color:white;
}

/* file page */
#divpage > .fileheader > span{
	position: absolute;
	right: 0;
}

#divpage > .fileheader > .dl{
	cursor: pointer;
	text-decoration-line: underline;
	transition: all 400ms;
	right: 5px;
}

#divpage > .fileheader > .dl:hover{
	transform: translate(-5px);
}


#divpage > .fileheader > .dl:before {
	content: '';
	background: url("/img/Nether_Star.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: -1px;
	left: -20px;
	width: 20px;
	height: 20px;
	transition: all 400ms;
}

#divpage > .fileheader > .dl:hover:before{
	animation: jump 2s infinite ease;
}

@keyframes jump {
	0% { transform: translate(0px, -2px); }
	50%   { transform: translate(0px, 2px); }
	100% { transform: translate(0px, -2px); }
}

#divpage > .filedata {
	height: auto;
	min-height: 100px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#divpage > .filedata > div {
	display: inline-block;
	background: white;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
}

#divpage > .filedata > div a {
	text-decoration-line: underline;
	transition: all 250ms;
	border-radius: 10px;
	padding: 0px 5px;
}

#divpage > .filedata > div a:hover {
  transform: translate(0px, -1px);
	background-color: #0002;
}

#divpage > .filedata > div > span > a:hover {
  transform: translate(0px, -1px);
	background-color: #0002;
}

#divpage > .filedata > div > a {
	text-align: right;
}

#divpage > .filedata > div * {	
	display: block;
}

#divpage > .filecolor {
	height: 4px;
}

#divpage > .stats {
	position: relative;
	text-align: right;
	right: 5px;
}

/* navbar */
nav{
	width: 100%;
	margin: 0 auto;
	background-color: white;
	top: 0px;
	z-index: 10;
	position: sticky;
}

nav ul{
	list-style-type: none;
}

nav ul li{
	float: left;
	width: 50%;
	text-align: center;
	position: relative;
}

nav ul::after{
	content: "";
	display: table;
	clear: both;
}

nav a{
	display: block;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}

nav a:hover{
	color: green;
	border-bottom: 2px solid green;
}

.sous{
	display: none;
	box-shadow: 0px 1px 2px #CCC;
	background-color: white;
	position: absolute;
	width: 100%;
	z-index: 1;
}

nav > ul li:hover .sous{
	display: block;
}

.sous li{
	float: none;
	width: 100%;
	text-align: left;
}

.sous a{
	padding: 10px;
	border-bottom: none;
}

.sous a:hover{
	transition-property: border-left;
	transition-duration: 0.1s;
	border-bottom: none;
	background-color: RGBa(200,200,200,0.1);
	border-left: 3px solid green;
}


.sous a:active{
	transition-property: border-left;
	transition-duration: 0.1s;
	border-bottom: none;
	background-color: RGBa(200,200,200,0.1);
	border-left: 5px solid green;
}

.deroulant > a::after{
	font-size: 12px;
}