/*v 2.7*/

.nojs{
	background-color:#b6f31e;
	background-image: url('https://flamebousteur.github.io/img/vrac/font.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.index{
	background-color:#202020;
	background-image: url('https://flamebousteur.github.io/img/vrac/font-bw.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/*stat*/

#exit-code, #data{
	visibility: hidden;
	position:fixed;
}
#stat tr{
	background-color: white;
	cursor:default;
}
#stat tr:hover{
	transition-property: background-color;
	transition-duration: 0.1s;
	background-color: #ccc;
}
#stat td{
	border-bottom: 1px solid black;
}
#dt{
	width:200px;
}

/* end stat */

#tele{
	background-image:url("https://flamebousteur.github.io/img/zip/craftS+.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#video{
	visibility:hidden;
	position:fixed;
}

#ifr{
	visibility:hidden;
	position:fixed;
}

footer{
	color:white;
	border-top:1px solid black;
}
footer a{
	color:white;
}

.up {
	border:3px solid green;
	background-color:green;
	color:white;
	float:left;
	width:15px;
	height:15px;
	position: fixed;
	right: 0;
	bottom: 0;
	text-align:center;
}

.tl mark{
	background-color:white;
}

.cr{
	background-color: #f8f8f8;
}

.cr img{
	border-right: 1px solid rgba(0,0,0,0);
}
